$add-movie-img-height: 300px;
$add-movie-img-width: 236px;

.add-movie-selection {
    height: 72%;
    overflow-y: auto;
}

.add-movie-title-input {
    text-align: center;

    p{
        margin: 2px;
    }
}

.manual-input-button {
    background: white;
    color: #547BB5;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.add-movie-selection-section {
    margin: 0 30px;
    padding: 20px 0 15px 0;
    display: block;
    min-height: $add-movie-img-height;
    border-top: 1px solid #DBDBDB;

    img {
        float: left;
        max-height: $add-movie-img-height;
        max-width: $add-movie-img-width;
        width: auto;
        height: auto;
        margin-right: 20px;
        padding-left: 5px;
    }

    label {
        font-weight: bold;
        margin-right: 5px;
    }

    .genre {
        label {
            float: left;
        }
    }

    .description {
        label {
            margin-bottom: 2px;
        }

        p {
            margin-top: 2px;
        }
    }
}
    

.hoverable-selection{
    &:hover {
        cursor: pointer;
        background: #F9F9F9;
        border: 1px solid $reel-stream-blue;
        box-shadow: 3px 3px 5px grey;
    }
}

.confirm-upload-button {
    background: $reel-stream-blue;
    color: white;
    border: none;
    width: 150px;
    margin: 15px 0 30px 0;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 2px grey;

    &:hover {
        box-shadow: 1px 1px 2px black;
        cursor: pointer;
    }
}