<div class="section-title">
    <h2>{{queueTitle}}</h2>
</div>

<div class="queue-row"  
     ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"
     movie-row >
    <div class="movie-queue">

        <div class="queue-arrow queue-left-arrow" ng-show="displayArrows" ng-click="changePage(-1)">
            <i class=" fa fa-5x fa-angle-left"></i> 
        </div>

        <movie-row row-length="numberShown" movie-collection ="shownMovies"></movie-row>

        <div class="queue-arrow queue-right-arrow" ng-show="displayArrows" ng-click="changePage(1)">
            <i class=" fa fa-5x fa-angle-right"></i> 
        </div>
    </div>
</div>