.reelstream-header {
    background-color: $reel-stream-grey;
    width: 100%;
    height: 150px;


    .tittle-img {
        position: relative;
        top: 25%;
        margin: auto 25px;
        height: 45%;
    }
}
